{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script> -->
<script src="{{url_for('static', filename='styles/bootstrap-5.3.3-dist/js/rhc.js')}}"></script>
<script>  
    $(document).ready(function () {

    $(".active").removeClass("active");
    $("#link-club").addClass("active");
    let attendeeTable = $('#attendeeTable');    
    new DataTable(attendeeTable , {
                    info: false,
                    ordering: true,
                    paging: true,
                    language: {
                        "lengthMenu": "Mostrar _MENU_ filas por pagina",
                        "zeroRecords": "No se encontro datos - lo sentimos",
                        "info": "Mostrar pagina _PAGE_ de _PAGES_",
                        "search": "Buscar",
                        "infoEmpty": "No se encontraron datos",
                        "infoFiltered": "(filtrar _MAX_ total filas)",
                        "paginate": {
                            "first": "Primer",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                  });
    $('#club').on('change', function () {
      
     //attendeeTable.DataTable().destroy();
      var txt = ($(this).val());
      console.log("Your Favourite club is " + txt);
      var hiddenField = document.createElement("input");
      hiddenField.type = "hidden";
      hiddenField.name = 'club';
      hiddenField.value = txt;
      $("#clubName").text("Club: " + txt);
      
      let attendeeCols = [
        {"data": null,
            render: function (data, type, row, meta) {
            return meta.row + meta.settings._iDisplayStart + 1;
        }},
        { data: 'register' },
        { data: 'name' },
        { data: 'last' },
        { data: 'ci' },
        { data: 'fechanacimiento' },
        { data: 'edad' },
        { data: 'parentesco' },
        { data: 'notas' },
        { data: 'gestion' },
        {
          data: 'imagen',
              render: function (data, type, row, meta) {
                  let td = '<a class="showModal btn btn-danger" href="#" data-href="'+data+'">Imagen</a>';                  
                  return type === 'display'
                      ? td
                      : data;
              }
        }
      ]
      attendeeTable.DataTable().destroy();
      
      $.ajax({
        url: "/club",
        type: 'POST',
        data: { 'club': txt },
        success: function (json) {
          console.log(json);
          dataAttendeeObjects = json;
          new DataTable(attendeeTable, {
            info: false,
            ordering: true,
            paging: true,
            columns: attendeeCols,
            data: json,
            language: {
                        "lengthMenu": "Mostrar _MENU_ filas por pagina",
                        "zeroRecords": "No se encontro datos - lo sentimos",
                        "info": "Mostrar pagina _PAGE_ de _PAGES_",
                        "search": "Buscar",
                        "infoEmpty": "No se encontraron datos",
                        "infoFiltered": "(filtrar _MAX_ total filas)",
                        "paginate": {
                            "first": "Primer",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },            
            createdRow: function( row, data, dataIndex ) {
                  // Add your condition here to determine when to add the class
                  console.log('data', data.edad);
                  console.log('row', row);
                  $('td',row).addClass(data.bg);
                  if(data.edad >= 50) {

                    $('td',row).addClass('bg-primary');
                  }
                  
              }
          });
          loadLinks();
        }
        
      });
      
    });
  });
          
   function loadLinks()  {
      let filterMe =  document.querySelectorAll(".showModal");
        console.log('filterMe', filterMe);
        if (filterMe) {
          for(const x of filterMe) {

              x.addEventListener('click', function() {
                var url = $(this).attr("data-href");
                console.log('href', url);
                $("#myModal iframe").attr("src", url);
                $("#myModal").modal("show");
              });
          }
        }
    }
</script>
<div class="container-fluid">
  <div class="row">    
    <div class="col-md-4">      
        Clubes:        
        <select class="selectpicker" data-style="btn-warning" id="club">
          <option id="jalakery">Jalakery</option>
          <option id="botafogo">Botafogo</option>
          <option>Cataricagua</option>
          <option>Valle Bajo</option>
          <option>Porvenir</option>
          <option>Coboliv</option>
          <option>Olimpic</option>
          <option>Rosario Central</option>
          <option>Deportivo Huanuni</option>
        </div>
      </select>      
      
    </div>
    <div class="col-md-4">
      <h1 id="clubName"></h1>
      <!-- <iframe id="iframe1"
        src="https://example.org"
        title="iframe Example 1"
        width="400"
        height="300">
      </iframe> -->
    </div>  
  <div class="row">
    <div class="col">
      <table class="table table-bordered border-dark" id="attendeeTable">
        <thead>
          <tr>
            <th class="table-dark">#</th>
            <th class="table-dark">Nº. Registro</th>
            <th class="table-dark">Nombres</th>
            <th class="table-dark">Apellidos</th>
            <th class="table-dark">CI</th>
            <th class="table-dark">Fecha de Nacimiento</th>
            <th class="table-dark">Edad</th>
            <th class="table-dark">Parentesco</th>
            <th class="table-dark">Notas</th>
            <th class="table-dark">Gestion</th>
            <th class="table-dark">Imagen</th>
          </tr>
        </thead>

      </table>
    </div>
  </div>
</div>
<!-- Example single danger button -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" style="width: 1000px;">
  
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Documentos</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
  
      <!-- Modal body -->
      <div class="modal-body">
        <iframe src="" width="800" height="480" frameborder="0" allowtransparency="true"></iframe>
      </div>
  
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  
    </div>
  </div> 
{% endblock %}