{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#club a').on('click', function () {
      var txt= ($(this).text());
      console.log("Your Favourite club is "+txt);
      var hiddenField = document.createElement("input");
        hiddenField.type = "hidden";
        hiddenField.name = 'club';
        hiddenField.value = txt;

      form1 = document.getElementById("myForm");
      form1.appendChild(hiddenField);
      document.body.appendChild(form1);
      form1.submit();
      });
  });
  </script>
<div class="container text-center">
  <div class="row">
    
    <div class="col">      
    </div>
    
    <div class="col">
      <form method="POST" id="myForm" action="{{ url_for('club') }}">
      <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clubes
        </button>
        <div class="dropdown-menu" id="club">
          <a class="dropdown-item" href="#" id="jalakery">Jalakery</a>
          <a class="dropdown-item" href="#">Botafogo</a>
          <a class="dropdown-item" href="#">Cataricagua</a>      
          <a class="dropdown-item" href="#">Valle Bajo</a>
          <a class="dropdown-item" href="#">Porvenir</a>
          <a class="dropdown-item" href="#">Coboliv</a>
          <a class="dropdown-item" href="#">Olimpic</a>
          <a class="dropdown-item" href="#">Rosario Central</a>
          <a class="dropdown-item" href="#">Deportivo Huanuni</a>
        </div>
      </div>
    </form>
    </div>

    <div class="col">     
    </div>
    
  </div>
</div>
<!-- Example single danger button -->

{% endblock %}
